:root {
    /* --primary: #2978da; */
    --primary: #ffef96;

  }
  
  .btnn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btnn--primary {
    /* background-color: var(--primary); */
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */
    /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
    /* background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%); */
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
    /* background: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 540;
    
  }

  .btnn--large {
    padding: 15px 15px 18px;
    font-size: 16px;
    margin: 12px 150px;
    width: 170px;
  }
  
  .btnn--large:hover {
    transition: all 0.3s ease-out;
    /* background: #dac292; */
    /* background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%); */
    /* background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* background: azure; */
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color:#0c022f;
    transition: 250ms;
  }
    