:root {
    /* --primary: #2978da; */
    --primary: #ffef96;
    font-family: serif;
  }
  
  .btn2 {
    padding: 5px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: serif;
  }
  
  .btn1--primary1 {
    /* background-color: var(--primary); */
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */
    /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 540;
    font-family: sans-serif;
  }

  .btn1--large1 {
    padding: 5px 10px 8px;
    font-size: 16px;
    margin: 5px 40px;
    width: 100px;
    font-family: serif;
  }
  
  .btn1--large1:hover {
    transition: all 0.3s ease-out;
    /* background: #dac292; */
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color:#0c022f;
    transition: 250ms;
    font-family: serif;
  }
    